.DS_Store
.chainlit/

.env

OpenAI/Agent/agent-example/__pycache__/*
OpenAI/Agent/agent-example/config.py
OpenAI/Agent/agent-example/config.py

src/agentic_ai/__pycache__
src/agentic_ai/fucntions/__pycache__
